<h2>All Teams</h2>

<% @teams.each do |team| %>
    <%= team.team_name %>
    <%= team.team_points %><br>
    <% team.users.each do |user| %>
        <%= user.username %>
        <%= user.personal_points %>
    <% end %><br><br>
<% end %>