<h2><%= @found_username.first.username %></h2><br>
<h4><strong>Belongs to: </strong><%= @found_username.first.team.team_name %></h4><br>
<h4><strong>Other team members:</strong></h4>
<ol><% @other_members.each do |user| %>
    <li><%= user.username %></li>
    <% end %>
</ol>