<h1>Welcome to Gamified Wellness Tracker!</h1>


<div class="container">
    <button type="button" class="btn btn-default"><%= link_to "Sign Up", signup_path %></button>
    <button type="button" class="btn btn-default"><%= link_to "Log in", login_path %></button>
    <button type="button" class="btn btn-default"><%= link_to "Log in with Google", '/auth/google_oauth2' %></button>
</div>