<h1>Welcome <%= @user.username %>!</h1>

<h2>Your Dashboard</h2>

<h3>In Progress</h3>
<% @user.user_goals.each do |usergoal| %>
    <strong><p><%= usergoal.goal.category %></p></strong>
    <strong>Your Goals:</strong><br>
    <p><%= usergoal.notes %></p><br>
<% end %>